@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/GreycliffCF-Bold.eot');
  src: local('Greycliff CF Bold'), local('GreycliffCF-Bold'),
    url('../fonts/GreycliffCF-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GreycliffCF-Bold.woff2') format('woff2'),
    url('../fonts/GreycliffCF-Bold.woff') format('woff'),
    url('../fonts/GreycliffCF-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF Medium Oblique';
  src: url('../fonts/GreycliffCF-MediumOblique.eot');
  src: local('Greycliff CF Medium Oblique'), local('GreycliffCF-MediumOblique'),
    url('../fonts/GreycliffCF-MediumOblique.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GreycliffCF-MediumOblique.woff2') format('woff2'),
    url('../fonts/GreycliffCF-MediumOblique.woff') format('woff'),
    url('../fonts/GreycliffCF-MediumOblique.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/GreycliffCF-Light.eot');
  src: local('Greycliff CF Light'), local('GreycliffCF-Light'),
    url('../fonts/GreycliffCF-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GreycliffCF-Light.woff2') format('woff2'),
    url('../fonts/GreycliffCF-Light.woff') format('woff'),
    url('../fonts/GreycliffCF-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/GreycliffCF-Heavy.eot');
  src: local('Greycliff CF Heavy'), local('GreycliffCF-Heavy'),
    url('../fonts/GreycliffCF-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GreycliffCF-Heavy.woff2') format('woff2'),
    url('../fonts/GreycliffCF-Heavy.woff') format('woff'),
    url('../fonts/GreycliffCF-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF Extra Light Oblique';
  src: url('../fonts/GreycliffCF-ExtraLightOblique.eot');
  src: local('Greycliff CF Extra Light Oblique'),
    local('GreycliffCF-ExtraLightOblique'),
    url('../fonts/GreycliffCF-ExtraLightOblique.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GreycliffCF-ExtraLightOblique.woff2') format('woff2'),
    url('../fonts/GreycliffCF-ExtraLightOblique.woff') format('woff'),
    url('../fonts/GreycliffCF-ExtraLightOblique.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Greycliff CF Extra Bold Oblique';
  src: url('../fonts/GreycliffCF-ExtraBoldOblique.eot');
  src: local('Greycliff CF Extra Bold Oblique'),
    local('GreycliffCF-ExtraBoldOblique'),
    url('../fonts/GreycliffCF-ExtraBoldOblique.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GreycliffCF-ExtraBoldOblique.woff2') format('woff2'),
    url('../fonts/GreycliffCF-ExtraBoldOblique.woff') format('woff'),
    url('../fonts/GreycliffCF-ExtraBoldOblique.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Greycliff CF Extra';
  src: url('../fonts/GreycliffCF-ExtraLight.eot');
  src: local('Greycliff CF Extra Light'), local('GreycliffCF-ExtraLight'),
    url('../fonts/GreycliffCF-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GreycliffCF-ExtraLight.woff2') format('woff2'),
    url('../fonts/GreycliffCF-ExtraLight.woff') format('woff'),
    url('../fonts/GreycliffCF-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF Extra';
  src: url('../fonts/GreycliffCF-ExtraBold.eot');
  src: local('Greycliff CF Extra Bold'), local('GreycliffCF-ExtraBold'),
    url('../fonts/GreycliffCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GreycliffCF-ExtraBold.woff2') format('woff2'),
    url('../fonts/GreycliffCF-ExtraBold.woff') format('woff'),
    url('../fonts/GreycliffCF-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF Bold Oblique';
  src: url('../fonts/GreycliffCF-BoldOblique.eot');
  src: local('Greycliff CF Bold Oblique'), local('GreycliffCF-BoldOblique'),
    url('../fonts/GreycliffCF-BoldOblique.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GreycliffCF-BoldOblique.woff2') format('woff2'),
    url('../fonts/GreycliffCF-BoldOblique.woff') format('woff'),
    url('../fonts/GreycliffCF-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Greycliff CF Light Oblique';
  src: url('../fonts/GreycliffCF-LightOblique.eot');
  src: local('Greycliff CF Light Oblique'), local('GreycliffCF-LightOblique'),
    url('../fonts/GreycliffCF-LightOblique.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GreycliffCF-LightOblique.woff2') format('woff2'),
    url('../fonts/GreycliffCF-LightOblique.woff') format('woff'),
    url('../fonts/GreycliffCF-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Greycliff CF Heavy Oblique';
  src: url('../fonts/GreycliffCF-HeavyOblique.eot');
  src: local('Greycliff CF Heavy Oblique'), local('GreycliffCF-HeavyOblique'),
    url('../fonts/GreycliffCF-HeavyOblique.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GreycliffCF-HeavyOblique.woff2') format('woff2'),
    url('../fonts/GreycliffCF-HeavyOblique.woff') format('woff'),
    url('../fonts/GreycliffCF-HeavyOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Greycliff CF Demi Bold Oblique';
  src: url('../fonts/GreycliffCF-DemiBoldOblique.eot');
  src: local('Greycliff CF Demi Bold Oblique'),
    local('GreycliffCF-DemiBoldOblique'),
    url('../fonts/GreycliffCF-DemiBoldOblique.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GreycliffCF-DemiBoldOblique.woff2') format('woff2'),
    url('../fonts/GreycliffCF-DemiBoldOblique.woff') format('woff'),
    url('../fonts/GreycliffCF-DemiBoldOblique.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Greycliff CF Demi';
  src: url('../fonts/GreycliffCF-DemiBold.eot');
  src: local('Greycliff CF Demi Bold'), local('GreycliffCF-DemiBold'),
    url('../fonts/GreycliffCF-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GreycliffCF-DemiBold.woff2') format('woff2'),
    url('../fonts/GreycliffCF-DemiBold.woff') format('woff'),
    url('../fonts/GreycliffCF-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/GreycliffCF-Thin.eot');
  src: local('Greycliff CF Thin'), local('GreycliffCF-Thin'),
    url('../fonts/GreycliffCF-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GreycliffCF-Thin.woff2') format('woff2'),
    url('../fonts/GreycliffCF-Thin.woff') format('woff'),
    url('../fonts/GreycliffCF-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/GreycliffCF-Medium.eot');
  src: local('Greycliff CF Medium'), local('GreycliffCF-Medium'),
    url('../fonts/GreycliffCF-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GreycliffCF-Medium.woff2') format('woff2'),
    url('../fonts/GreycliffCF-Medium.woff') format('woff'),
    url('../fonts/GreycliffCF-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/GreycliffCF-Regular.eot');
  src: local('Greycliff CF'), local('GreycliffCF-Regular'),
    url('../fonts/GreycliffCF-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GreycliffCF-Regular.woff2') format('woff2'),
    url('../fonts/GreycliffCF-Regular.woff') format('woff'),
    url('../fonts/GreycliffCF-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF Oblique';
  src: url('../fonts/GreycliffCF-RegularOblique.eot');
  src: local('Greycliff CF Oblique'), local('GreycliffCF-RegularOblique'),
    url('../fonts/GreycliffCF-RegularOblique.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GreycliffCF-RegularOblique.woff2') format('woff2'),
    url('../fonts/GreycliffCF-RegularOblique.woff') format('woff'),
    url('../fonts/GreycliffCF-RegularOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
